{% extends "service_center/service_centerbase.html" %}
{% block content %}
{% load crispy_forms_tags %}

<h4 class="mb-3">Car Details</h4>

<div class="table-responsive">
<table class="table table-bordered table-striped table-sm">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Car Name</th>
      <th>Brand</th>
      <th>Model</th>
      <th>No Plate</th>
      <th>Y.O.M</th>
      <th>Fuel</th>
      <th>Reg No</th>
      <th>Type</th>
      <th>RC</th>
        <th>Document</th>

    </tr>
  </thead>

  <tbody>
    {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.car_name }}</td>
      <td>{{ i.brand }}</td>
      <td>{{ i.model }}</td>
      <td>{{ i.number_plate }}</td>
      <td>{{ i.year_of_manufacture }}</td>
      <td>{{ i.fuel_type }}</td>
      <td>{{ i.registration_number }}</td>
      <td>{{ i.type }}</td>
        <td>{{ i.rc_number }}</td>
          <td>
        {% if i.document %}
          <img src="{{ i.document.url }}" height="60">
        {% endif %}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="10" class="text-center text-muted">
        No data available
      </td>
    </tr>
    {% endfor %}
  </tbody>

</table>
</div>

{% endblock %}
