{% extends "admin/adminbase.html" %}

{% block content %}
{%load crispy_forms_tags %}
<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Car Details</th>
      <th scope="col">Status Choice</th>
      <th scope="col">Date</th>
        <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    {% for i in data %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ i.car_details }}</td>
      <td>{{ i.choice }}</td>
      <td>{{i.date}}</td>
        <td>{{ i.time }}</td>

    </tr>



    {% empty %}
    <tr>
      <td colspan="3" class="text-center text-muted">No data available</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}